* {
	box-sizing: border-box;}


.dk_background{
	background-image: url("../images/193154.jpg");
	background-position: center;
	background-repeat: no-repeat;
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: grey;
	background-size: cover;
}
.dk_background2{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color:pink;
	opacity: 0.5;
}
.brand-logo{
	position: relative;
	height: 100%;

	
}

.tg-nuotrauka{
	width: 100%;

}
.tg-remelis{
	border: 2px solid black;
	background-color: rgba(255,255,255,0.63);

	
}
.container{
	position: relative;
}
.dk-page-title{
	margin-top: 200px;
}